html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction:column;
    min-height:100vh;
}

header {
    margin: 20px 0;
    display: flex;
    padding: 0 20px;
    flex-grow:0;
}

footer {
    text-align: center;
    font-size: .9em;
    font-style: italic;
    flex-grow: 0;
}

footer a {
    color: #596869;
    transition: color .5s;
    -webkit-transition: color .5s;
}

footer a:hover {
    color: #36453B;
}

#title {
    font-size: 2em;
    font-family: 'Julius Sans One', sans-serif;
    color: #6F263D;
    flex: 1;
    display: flex;
    align-items: center;
}

#weather-container {
    flex: 1;
}

#search-button {
    background-color: #596869;
    color: #FFF;
    font-size: 1.1em;
    height: 40px;
    border: none;
    width: 80px;
    cursor: pointer;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}

#map-button:hover {
    background-color: #36453B;
}

#search {
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 40px;
    box-shadow: 3px 3px 5px #adadad;
}

#address-input {
    width: 600px;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: 1.2em;
    padding: 0 20px;
}

#map {
    height: 800px;
    width: 90%;
    margin: 0 auto 20px auto;
    box-shadow: 3px 3px 5px #adadad;
    flex-grow:1;
}

.hidden {
    display: none;
}

.alert {
    color: red;
    font-weight: bold;
    text-align: center; 
}


.map-error {
    position: absolute;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    background-color: #FFF;
    color: red;
    z-index: 1000;
    width: 350px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.alert::before {
    content: '!';
    background-color: red;
    font-weight: bold;
    border-radius: 50%;
    color: #FFF;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.weather-error {
    text-align: right;
    font-style: italic;
}

.item-station {
    border: 1px solid #FFF;
    border-radius: 5px;
}

.station-name {
    background-color: #36453B;
    color: #FFF;
    padding: 5px;
}

.rainy {
    background-color: #2f73e0;
}
.cloudy {
    background-color: #d9d9d9
}
.sunny {
    background-color: #ff9b05;
}
.snowy {
    background-color: #d6e5ff;
}

.green {
    color: green;
}

.orange {
    color: #db931f;
}

.red {
    color: red;
}

.hover-transition:hover {
    background-color: #36453B;
}

@media screen and (max-width: 1230px) {
    header {
        flex-direction: column;
    }

    #search {
        margin-bottom: 10px;
        align-items: center;
        align-content: center;
        box-shadow: none;
        text-align: center;
    }

    #address-input {
        font-size: 1em;
        box-shadow: 3px 3px 5px #adadad;
    }

    #search-button {
        box-shadow: 3px 3px 5px #adadad;
    }

    #title {
        justify-content: center;
        margin-bottom: 20px;
        font-size: 3em
    }

    .weather {
        justify-content: center;
    }
  }

  @media screen and (max-width: 600px) {
    #map {
        width: 100%;
    }

    #address-input {
        height: 80px;
    }

    #weather-container {
        margin-top: 20px;
    }

    .weather {
        font-size: 1.8em;
    }

    #search {
        margin-top: 10px;
    }

    #search-button {
        height: 80px;
    }
  }