html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 20px 0;
    display: flex;
    padding: 0 20px;
}

footer {
    text-align: center;
    font-size: .9em;
    font-style: italic;
}

.footer-link {
    color: #36453B;
}

#title {
    font-size: 2em;
    color: #6F263D;
    flex: 1;
    display: flex;
    align-items: center;
}

#weather-container {
    flex: 1;
}

#stations-list {
    list-style: none;
    padding: 0;
}

#map-button {
    background-color: #596869;
    color: #FFF;
    height: 40px;
    border: none;
    width: 80px;
}

#search {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#address-input {
    width: 600px;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: 1.3em;
    padding: 0 20px;
}

#map {
    height: 1000px;
    width: 90%;
    margin: 0 auto 20px auto;

}

.hidden {
    display: none;
}
.alert {
    color: red;
    font-weight: bold;
    text-align: center; 
}

.map-container {
    position: relative;
}

.map-error {
    position: absolute;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    background-color: #FFF;
    color: red;
    z-index: 1000;
    width: 350px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.alert::before {
    content: '!';
    background-color: red;
    font-weight: bold;
    border-radius: 50%;
    color: #FFF;
    width: 25px;
    height: 25px;
    line-height: 25px;

}

.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.weather-error {
    text-align: right;
    font-style: italic;
}

.item-station {
    border: 1px solid #FFF;
    border-radius: 5px;
}

.station-name {
    background-color: #36453B;
    color: #FFF;
    padding: 5px;
}

.rainy {
    background-color: #2f73e0;
}
.cloudy {
    background-color: #d9d9d9
}
.sunny {
    background-color: #ff9b05;
}
.snowy {
    background-color: #d6e5ff;
}

.green {
    color: green;
}

.orange {
    color: #db931f;
}

.red {
    color: red;
}